 /*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
	/*header start*/
	.logo {
    width: 65%;
}
	.menu ul li a{
	text-align:center ; 
    padding: 0 !important;
}
/*header end*/
/*slider start*/
.slider {
  
    padding-top: 14px;
 
}

.item1 h1 {
    margin-bottom: 8px;
    font-size: 34px;
   
}
.item1 p {
    margin-bottom: 11px;
    font-size: 18px;
   
}

.explore {
	 margin-bottom: 6px;
    font-size: 14px;
    width: 151px;
}
.cid {
    bottom: -61px;
}
.cid li {
    width: 11px;
    height: 11px;
   
}
/*slider end*/

}

 /*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) { 
/*header start*/

   .menu ul li a{
	text-align:center ; 
    padding: 0 !important; 
}
/*header end*/
/*slider start*/
.slider {
  
    padding-top: 14px;
 
}
.item1 h1 {
    margin-bottom: 10px;
    font-size: 45px;
   
}
.item1 p {
    margin-bottom: 10px;
    font-size: 18px;
   
}
.explore {
    margin-bottom: 9px;
   
}
.cid {
    bottom: -62px;
}
/*s
lider end*/


 }

 /*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {
 /*header start*/

   .menu ul li a{
	text-align: center; 
    padding: 0 !important; 
}
.tog{
	color:white !important;
}
/*header end*/
/*slider start*/
.slider {
  
    padding-top: 14px;
 
}
/*slider end*/

 }

 /*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {

}

/* extra Large devices ( large desktops, 1200px and up)*/
@media (min-width: 1200px) and (max-width: 1399.98px) { 

 }

 /* extra extra Large devices ( large desktops, 1400px and up)*/
@media (min-width: 1400px) and (max-width: 1599.98px) { 

 }

 /* extra extra extra Large devices ( large desktops, 1600px and up)*/
@media (min-width: 1600px) and (max-width: 1799.98px) { 

 }

 /*Extra extra extra extra large devices (larger desktops, 1400px and up)*/
@media (min-width: 1800px) { 
}
